# Node
node_modules/
backend/node_modules/
.env
.DS_Store
npm-debug.log*
package-lock.json
yarn.lock

# OS
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build
dist/
build/
