/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

/* Contenedor para la introducción */
.intro-container {
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #333;
}

/* Estilos para el video */
iframe {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Contenedor de los botones flotantes */
.menu-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Estilos para los botones */
.menu-button {
    background-color: black;
    color: #9b4dca; /* Morado */
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.menu-button:hover {
    background-color: #9b4dca;
    color: white;
    box-shadow: 0 0 15px #9b4dca, 0 0 25px #9b4dca, 0 0 50px #9b4dca;
    transform: translateY(-5px);
}

/* Para asegurar que el contenido se vea correctamente */
#content {
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
