body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    overflow: hidden;
}

/* Fondo con imagen y movimiento */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREj9R1dvjjQfrmIezL1Iktt_Zlg-fR__xbGQ&s') repeat;
    background-size: cover;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 100%; }
}

/* Estilos generales */
nav button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.tab {
    display: none;
    padding: 20px;
}

.tab.active {
    display: block;
}
